*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 100%;

    /* Variables */

    --primary-blue-100: hsl(254, 100%, 90%);
    --primary-blue-500: hsl(254, 100%, 69%);
    --primary-blue-900: hsl(253, 46%, 29%);
    --neutral-violet-500: hsl(259, 8%, 41%);
    --neutral-violet-700: hsl(260, 8%, 29%);
    --neutral-violet-800: hsl(260,8%, 23%);
    --accent-yellow-500: hsl(44, 100%, 90%);
    --accent-blue-100:var(--primary-blue-100);
    --destructive-100: hsl(337, 100%, 96%);
    --destructive-500: hsl(336, 100%, 71%);
    --global-white: hsl(0, 0%, 100%);

    /* Text colors */
    --text-title: var(--primary-blue-900);
    --text-title2: var(--neutral-violet-500);
    --text-body: var(--neutral-violet-700);
    --button-text-primary:var(--global-white);

    /* Background */
    --background-grey: hsl(270, 7%, 97%);
    --background-grey-100: hsl(270, 7%, 94%);
    --background-grey-50: hsl(255, 10%, 96%);

    /* button */

    --button-primary: var(--primary-blue-500);
    --button-destructive: var(--destructive-100);
    --button-destructive-hover: var(--destructive-500);

    /* icons */
    --icon-default: var(--neutral-violet-500);
    --icon-dark: var(--neutral-violet-800);

    /* shadow */
    --shadow-100: hsl(0, 0%, 80%);

    --input-background: var(--background-grey-50);

   


}


/* typography */

/* rubik-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/rubik-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/rubik-v28-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }



body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
}


ul{
  padding: 0;
}
li {
  list-style-type: none;
}

.buttonCard:hover {
  box-shadow: 0 0 8px var(--shadow-100);
  cursor: pointer;
  
}

.iconTextContainer {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.icon {
  max-width: 24px;
  height: 24px;
  fill: var(--icon-dark);
}

.buttonText {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-title);
}

.left {
  background-color: var(--accent-blue-100);
}
.right {
  background-color:var(--accent-yellow-500);

}

/* segment control */

.segmentControl {
  border-radius: 8px;
  background: var(--background-grey-100);
  padding: 0.125em;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  gap: 0.25em;
}

input[type="radio"] {

  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;

  cursor: pointer;
  position: absolute;
  opacity: 0;

}


label {
  flex: 1; /* Makes each label expand equally */ 
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: flex; 
  align-items: center; 
  color: var(--text-title2)
}

label span {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  height: 2em;
  overflow: hidden; /* Ensures rounded corners look clean */
  text-align: center;
}

.segmentControl input[type="radio"]:checked + span {
  background-color: white;
  font-weight: 400;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: var(--text-title2)
}

.title {
  line-height: 120%;
  margin: 0;
  color: var(--text-title);
}

.note {
  line-height: 150%;
  margin: 0;
  color: var(--text-body);
}

/* styling on new notes page*/
/* text area on new notes page  */



#backButtonTop {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 2px 12px 2px 8px;
  border: none;
  border-radius: 16px;
  background-color: var(--background-grey-100);
  font-family: inherit;
  color: var(--text-body);
  font-size: 1em;
  cursor: pointer;
}

#backButtonTop:hover  {
  background: var(--neutral-violet-500);
  color: var(--global-white);
}

#backButtonTop:hover .leftarrow {
  stroke: var(--global-white); 
}


#newNoteTextArea {
  margin: auto;
  padding: 1em;
  resize: none;
  max-width: 40em;
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: var(--input-background);
  color: var(--text-body);
  font-family: inherit;
}

#newNoteTextArea:focus, :disabled {
  outline: none;
}

/* button -- save and clear */
.actButtonWrapper {
  display: flex;
  gap: 1em;
  width: 90%;

}

.roundButton {
  padding: 0.5em 1em;
  border: none;
  border-radius: 16px;
  flex: 1;
  max-width: none;
  text-align: center;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

#saveButton {
  background-color: var(--button-primary);
  color: var(--button-text-primary);
}

#saveButton:hover {
  background-color: var(--primary-blue-900);
}

#clearButton {
  background-color: var(--button-destructive);
  color: var(--text-body);
}

#clearButton:hover {
  background-color: var(--button-destructive-hover);
  color: var(--destructive-100)


}

/* media query mobile devices min 320px */
@media screen and (min-width: 20em) {
  
 
  header{
    margin: 1em 1em 0 1em;
  }

  .buttonCardSection {
    display: flex;
    gap: 1em;
    margin: 1em;
  }

  .buttonCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 0 0;
    border-radius: 16px;
    width: 10.3125em;
    
  }


  .documentImg {
  max-width: 48px;
  height: auto;
  display: block;
  }

  .taskImg {
  max-width: 48px;
  height: auto;
  }

  /* recent section */

  .recents {
    margin: 0 1em;
  }
  
  h5 {
    font-weight: 400;
    color: var(--text-title2);
    margin: 0 0 1em 0;
  }

  .controlandNotes {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }


  #cardHistory {
    display: flex;
    flex-direction: column;
    background-color: var(--background-grey);
    max-width: 40em;
    width: 100%;
    height: auto;
    padding: 1em;
    border-radius: 16px;
  }

  /* new note page */

  .section {
    margin: 1em;
  }


  .actionButtons {
    margin: 1em;
  }

  .actButtonWrapper {
  position: absolute;
  bottom:32px;
  left:16px;
  right:16px;
  /* margin: 0 0 1em 0; */

  }




}

/* web media query */

@media screen and (min-width: 60em) {


  .buttonCardSection {
    display: flex;
    justify-content: center;
  }


  .documentImg {
    max-width: 15%;
    height: auto;
    display: block;
  }
  
  .taskImg {
    max-width: 15%;
    height: auto;
    display: block;
  }

  .buttonCard {
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    max-width: 19.5em;
    width: 100%;
    margin: 0 0 1em 0;
    border-radius: 16px;
    
  }

  /* recent items section */
  
  .recents {
    max-width: 40em;
    width: 100%;
    margin: 0 auto;
  }

  h5 {
    font-weight: 500;
    color: var(--text-title2);
    margin: 0 0 1em 0;
  }

  /* history cards */

  .history {
    display: flex;
    gap: 1.5em;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap:1em;
    background-color: var(--background-grey);
    max-width: 40em;
    width: 100%;
    height: auto;
    padding: 1em;
    border-radius: 16px;
  }

  .controlandNotes {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  /* NNewNotePage */

  .textArea {
    margin: 0 0 1em 0;
  }

  .actionButtons {
    max-width: 0em;
    width: 100%;
    margin: auto;
  }

  .actButtonWrapper {
    position: static;
    max-width: 0em;
    width: 100%;
    margin: auto;

  }

 
  
}